<nav class="navbar navbar-default" style="background-color:#4caee3">
  <div class="container">
    <div class="navbar-header">
      <h1 class="site-heading" style="color:white">Zolo <span style="color:grey">Quiz</span> : AngularJS</h1>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <h1 style="color:black;font-weight:bold">Result</h1>
  </div><br>
  <div class="row" style="font-weight:bold;background-color:aquamarine;border:1px solid black">
    <div class="col-xs-4 text-center" style="padding:10px">
      Questions
    </div>
    <div class="col-xs-4 text-center" style="padding:10px">
      Your Answer
    </div>
    <div class="col-xs-4 text-center" style="padding:10px">
      Correct Answer
    </div>
  </div>
  <div class="row" style="border-left:1px solid black;border-right:1px solid black;padding:10px;">
    <div class="col-xs-4">
      AngularJS uses only one way data binding?
    </div>
    <div class="col-xs-4 text-center">
        {{answers}}
    </div>
    <div class="col-xs-4 text-center">
      False
    </div>
  </div>
  <div class="row" style="border-left:1px solid black;border-right:1px solid black;padding:10px;">
    <div class="col-xs-4">
      Which angular module is loaded by default?
    </div>
    <div class="col-xs-4 text-center">

    </div>
    <div class="col-xs-4 text-center">
      ng
    </div>
  </div>
   <div class="row" style="border-left:1px solid black;border-right:1px solid black;padding:10px;border-bottom: 1px solid black">
    <div class="col-xs-4">
     Do AngularJS provide reusable components?
    </div>
    <div class="col-xs-4 text-center">
      
    </div>
    <div class="col-xs-4 text-center">
      True
    </div>
  </div>
</div>