.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 100%; 
  height: 100%;
  padding: 40px;
  background-color:aqua
}

.top-center{
    padding-top: 110px;
}

@media only screen and (min-width: 767px) {
    .Absolute-Center.is-Responsive {
  width: 100%; 
  height: 100%;
 
}
}